<!DOCTYPE html>
<html>
<head>
	<title>day1</title>
</head>
<body>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<div id="app">
		<!-- 数据展示 -->
		<p>{{message}}</p>
		<p v-bind:title="message"></p>
		<!-- 双向数据绑定 -->
		<p v-if="seen">Now you see me</p>
		<!-- 循环 -->
		<ol>
			<li v-for="todo in todos">{{todo.text}}</li>
		</ol>
		<!-- 事件 -->
		<button v-on:click="reverseMessage">reverseMessage</button>
		<!-- 双向数据绑定 -->
		<input type="" name="" v-model="message">
	</div>
	<script>
		var app = new Vue({
			el:'#app',
			data:{
				message:'Hello vue'+new Date(),
				seen:true,
				todos:[
				{ text: 'demo1' },
				{ text: 'demo2' },
				{ text: 'demo3' }
				]
			},
			methods:{
				reverseMessage: function () {
					this.message = this.message.split('').reverse().join('')
				}
			}
		})
	</script>
</body>
</html>